
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    padding: 0 20px;
    p {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .exclamation-background {
        width: 60px; 
        height: 60px; 
        border-radius: 50%; 
        background-color: black; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .exclamation {
        font-size: 40px;
        margin-top: 20px;
        animation: bounce 0.5s infinite alternate; 
        font-weight: 500;
        color: white;
        @keyframes bounce {
            0% {
                transform: translateY(-5px);
            }
            100% {
                transform: translateY(-15px);
            }
        }
    }
}