@import '../../variables.scss';

.projects-card {
    width: 300px;
    height: 380px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 13px 27px -5px rgba($purple-color, 0.25), 
    0 8px 16px -8px rgba(0, 0, 0, 0.3),       
    0 -6px 16px -6px rgba(0, 0, 0, 0.03);      
    transition: all ease 200ms;
    @include tablette {
        width: 100%;
        height: auto;
    }
    @include mobile {
        width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;
    }

    &:hover {
        transform: scale(1.03);
        cursor: pointer;
    }
    .card {
        @include tablette {
            display: flex;
        }
        .card-title-tags {
            @include tablette {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .card-img {
        width: 100%;
        height: 55%;
        object-fit: contain;
        border-radius: 10px 10px 0px 0px;
        z-index: 1;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
        background-color: white;
        @include tablette {
            width: 50%;
            height: 150px;
            border-radius: 10px 0px 0px 10px;
        }
        @include mobile {
            height: 160px;
        }
    }

    .card-title {
        color: black;
        padding: 10px 20px;
        line-height: 1.4;
        font-size: 20px;
        font-weight: 500;
        transition: all ease-in 100ms;
        @include tablette {
            font-size: 18px;
        }
        @include mobile {
            font-size: 16px;
        }
    }

    .card-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 20px;
        justify-content: center;
        @include mobile {
            gap: 5px;
            margin-bottom: 10px;
        }
        p {
            color: black;
            background-color: rgba($purple-color, 0.5);
            font-size: 16px;
            font-weight: 500;
            border-radius: 15px;
            padding: 5px 10px;
            @include tablette {
                font-size: 13px;
            }
            @include mobile {
                font-size: 12px;
            }
        }  
    }
    
}