@import '../../variables.scss';

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    .contact-title {
        font-size: 38px;
        font-weight: 900;
        padding-bottom: 30px;
        @include mobile {
            font-size: 30px;
        }
    }
    .contact-text {
        font-size: 20px;
        @include mobile {
            text-align: center;
            padding: 0 10px;
            font-size: 16px;
        }
        @include tablette {
            text-align: center;
            padding: 0 20px;
            font-size: 18px;
        }
    }
    .form-container {
        width: 60%;
        padding-top: 30px;
        @include mobile {
            width: 90%;
        }
        @include tablette {
            width: 80%;
        }
        .form-content {
            display: flex;
            flex-direction: column;
        }
        .form-row {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            @include mobile {
                flex-direction: column;
                gap: 0;
            }
        }
        .form-info {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            flex: 1;
        }
        .form-info input,
        .form-info textarea {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        box-sizing: border-box;
        }

        textarea {
        height: 130px; 
        resize: none;
        }

        .submit-button {
        display: block;
        margin: 1rem auto 0 auto; 
        padding: 5px 15px;
        background-color: $purple-color;
        font-size: 20px;
        border-radius: 15px;
        cursor: pointer;
        transition-duration: 0.4s;
        font-weight: 700;
        margin-bottom: 20px;
        @include mobile {
            font-size: 16px;
        }
        &:hover {
            background-color: rgba($purple-color, 0.8);
            transform: scale(1.03);
        }   
        }
    }
    .form-message {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        text-shadow: black 1px 0 10px;
        @include mobile {
            font-size: 16px;
        }
    }
   
}