@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: rgba(255, 254, 240, 0.9); /* Fond blanc avec opacité */
        padding: 10px 50px ; /* Espacement intérieur */
        z-index: 1000; /* Assurez-vous que l'en-tête est au-dessus du contenu */
        transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur de fond */
    
        &.scrolled {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour l'effet de profondeur */
        }

    .page-title {
        text-decoration: none;
        h1 {
            font-family: 'Dancing Script';
            font-size: 48px;
            color: black;
        }
        .header-logo {
            width: 130px;
        }
    }
    
    .nav-links a {
        font-size: 22px;
        color: black;
        text-decoration: none;
        margin-left: 40px;
        flex-wrap: wrap;
        &:hover {
            text-decoration: underline;
            text-shadow: rgba(0, 0, 0, 0.5) 1px 0 10px;
        }
        &.active {
            text-decoration: underline; 
        }
    }
}