@import '../../variables.scss';

.accueil-section {
    display: flex;
    min-height: 85vh; 
    @include mobile {
        flex-direction: column;
    }
    .left-side-page {
        background-color: $purple-color;
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-coding {
            width: 100px;
            @include mobile {
                width: 70px;
            }
        }
        @include mobile {
            width: 100%;
            padding: 5%;
            box-sizing: border-box;
        }
        @include tablette {
            width : 40%;
        }
    }
    .right-side-page {
        background-color: $cream-color;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 10px;
        overflow: hidden; 
        @include mobile {
            align-items: center;
        }
        p, h1 {
            padding-left: 60px;
            @include mobile {
                padding-left: 0;
                text-align: center; 
            }
            @include tablette {
                padding-left: 10%;
            }
        }
        h1 {
            @include mobile {
                padding: 5%;
            }
        }
        .my-name {
            font-weight: 900;
            font-size: 70px;
            @include tablette {
                font-size: 55px;
            }
            @include mobile {
                font-size: 50px;
            }
        }
        .dev-web {
            font-weight: 300;
            font-size: 40px;
            letter-spacing: 10px;
            display: inline-block; 
            white-space: nowrap; 
            overflow: hidden; 
            border-right: 0.08em solid $purple-color; 
            animation: typing 3s steps(50, end), blink-caret 0.75s step-end infinite;
            @keyframes typing {
                from { width: 0; } 
                to { width: 22ch; } 
              }
              
              @keyframes blink-caret {
                from, to { border-color: transparent; } 
                50% { border-color: $purple-color; } 
              }
              @include tablette {
                font-size: 22px;
                letter-spacing: 4px;
              }
              @include mobile {
                font-size: 24px;
                letter-spacing: 5px;
              }
              @include dev-web {
                font-size: 34px;
              }
        }
    }
}